<p>Hi, <%= @user.name %></p>

<p>You are in groups:</p>
<ul>
  <% @user.groups.each do |g| %>
    <li><%= link_to g.name, group_path(g) %></li>
  <% end %>
</ul>

<%= form_tag("/groups/add_user/") do %>
    <%= hidden_field_tag(:id, @user.id) %>
    Add an user: <select name="uid">
      <% @users.each do |u| %>
          <option value="<%= u.id %>"><%= u.name %></option>
      <% end %>
    </select>
    Groups:<br>
    <%= select_tag "gid", options_from_collection_for_select(@groups, 'id', 'name'), :multiple => true %>
    <%= submit_tag("Add to groups") %>
<% end %>